* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
}


/* EL  HEADER */
header {
    background-color: #131353;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #deb887;
    text-decoration: none;
    padding: 20px;
    font-size: 13px;
}

nav a:hover {
    color: #e7d674ec;
}

.tipo {
    font-family: 'Luxurious Roman', cursive;
}

.barra-nav li {
    display: inline;
    padding: 15px;
    margin: 0 10px 0 10px;
}

.barra-nav li a{
    color: #deb887;
    padding: 15px;
    font-size: 1.2em;
    list-style: none;
    text-align: end;
}

.barra-nav li a:hover{
    color: #e7d674ec;
}

/* 1ER ARTICLE: HOME */

.first-art {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.code-proud {
    width: 70%;
    height: 60%;
    margin-top: 5vh;
}

.container-first {
    background-color: #38389e;
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
   font-family: 'Luxurious Roman', cursive;
   font-size: 2em; 
   margin: 10px;
   padding: 10px;
   color: #deb887;
   letter-spacing: 1px;
}


.develop {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #fff;
}

/* 2DO ARTICLE: SOBRE MI */

.second-art {
    height: 100vh;
    background-color: #deb887;
    display: flex;
    flex-wrap: wrap;
}

.about {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    color: #38389e;
    text-align: center;
    width: 100vw;
    margin-top: 60px;
    padding: 15px;
    align-self: center;
}

.img-y-text {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    height: 50vh;
    width: 85vw;
}

.img-y-text img {
    width: 25%;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 50%;
}

.img-y-text p {
    width: 30%;
    font-size: 1em;
    font-family: 'Luxurious Roman', cursive;
    padding: 0 10px;
    margin: 0 10px;
    align-self: center;
    text-align: center;
}

.btn-contact {
    width: 100%;
    align-self: center;
    text-align: center;
    display: flex;
    height: 10vh;
}

.btn-contact button {
    margin: auto;
    padding: 10px 100px;
    letter-spacing: 2px;
    background-color: #38389e;
    color: #deb887;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
}

/* 3ER ARTICLE: CONOCIMIENTOS */

.third-art {
    height: 100vh;
    background-color: #8888e0;
    display: flex;
    flex-direction: column;
}

.know {
    color: #fff;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    height: 17%;
    margin-top: 90px;
    padding: 15px;
    width: 97%;
}

.iconos {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.iconos img {
    object-fit: scale-down;
    width: 100px;
    padding: 25px;
}

/* 4TO ARTICLE: PROYECTOS */

.forth-art {
    height: 100vh;
    background-color: #fcdcb1;
    display: flex;
    flex-direction: column;
}

.titulo {
    color: #131353;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    height: 17%;
    margin-top: 60px;
}

.all-cards {
    height: 83%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card0 {
    height: 340px;
    width: 300px;
    background-color: #38389e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.img-card0 {
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.img-card0 img {
    width: 90%;
    height: 90%;
    align-self: center;
    object-fit: cover;
}

.card0 a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Luxurious Roman', cursive;
    font-size: 1.2em;
}

.card1 {
    height: 340px;
    width: 300px;
    background-color: #38389e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.img-card1 {
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.img-card1 img {
    width: 90%;
    height: 90%;
    align-self: center;
    object-fit: cover;
}

.card1 a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Luxurious Roman', cursive;
    font-size: 1.2em;
}

/* 5TO ARTICLE: CONTACTO */

.fifth-art {
    height: 50vh;
    background-color: #131353;
    display: flex;
    flex-direction: column;
}

.contact {
    color: #fcdcb1;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    height: 17%;
    margin-top: 20px;
}

.contact-descarga {
    display: flex;
    flex-direction: row-reverse;
    height: 60%;
    border: solid black 2px;
    justify-content: space-around;
    align-items: center;
}

.descarga {
    color:  #fcdcb1;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

.contact-conteiner {
    width: 50%;
    border: solid black 2px;
    align-self: center;
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-form label {
    color: #fcdcb1;
    font-family: 'Raleway', sans-serif;
}

.los_inputs {
    display: flex;
    flex-direction: column;
}

.los_inputs input {
    border-radius: 5px;
    border-style: none;
}

.el_textarea {
    display: flex;
    flex-direction: column;
}

.el_textarea textarea {
    resize: none;
    border-radius: 10px;
    border-style: none;
}